{% load htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>People</h1>
    {% htmx_include 'app/partials/person_list.html' %}
    {% htmx_script %}
</body>
</html>
